:host {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0.25rem 0;
}
.page-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}
