.pagination {
  display: flex;
  justify-content: space-between;

  &--vertical {
    width: 2rem;
    height: calc(100vh - 25px);
  }
  &--horisontal {
    width: calc(100vw - 0px);
    height: 2rem;
  }
}
@mixin vertical {
  display: block;
}
@mixin horisontal {
  display: inline-block;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin: 0.25rem;
  padding: 0.25rem;
}
.menu, .menu-item {
  &--vertical {
    @include vertical;
  }
  &--horisontal {
    @include horisontal;
  }
}
.instruments {
  display: flex;

  &--horisontal {
    width: 6rem;
    align-items: center;
    justify-content: flex-end;
    padding: 0.35rem 0.25rem;
  }
}
.instruments > * {
  display: block;
  margin: 0 0.1rem;
}
