
<section class="page">
  <app-pagination [list]="paginationList()" [scrolled]="scrolledSection()" />
  <div class="page-wrapper" (scroll)="onScroll()">
    @for (item of pagesContent(); track item.number) {
      @defer (on viewport; prefetch on idle) {
      <app-page-content
       [id]="item.number"
       [idPrefix]="anchorPrefix"
       [content]="item.imageUrl" />
      }
      @placeholder {
        <div class="page-placeholder">
          <p>
            Placeholder
          </p>
        </div>
      }
    }
  </div>
  <app-edit-form />
</section>
